.background {
  background-color: #3c3836;
}

.header {
  display: flex;
  top: 0;
  background-color: #fabd2f;
  position: sticky;
  height: 50px;
  align-items: center;
  z-index: 1;
  justify-content: space-around;
}

.signature {
  padding-left: 20px;
  font-family: 'Permanent Marker', cursive;
  text-decoration: none;
  color: #282828;
  font-size: 200%;
}

.header-text {
  font-family: 'Indie Flower', cursive;
  text-decoration: none;
  color: #282828;
  font-size: 120%;
}

.header-text:hover {
  text-decoration: underline;
  color: #fb4934;
}

.header-image {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

@media (max-width: 700px) {
  .signature {
    padding-left: 10px;
    font-size: 1.2em;
  }

  .header-text {
    font-size: 0.9em;
  }

  .header-image {
    padding-right: 0;
  }
}

